<!--ここから-->
  <div class="style2">
  <div id="02063" class="title4">  
【イベント詳細】&nbsp;2019年3月26日（火）イベント出演決定！</div><br>


イベントへの出演が決定しました。ぜひ応援にきてください！<br>
<br>

イベント名：「SHINJUKU GIRLS SPARK SP with 萌えこれ学園定期公演」<br>
日時：2019年3月26日（火）<br>
会場：<a href="http://ruido.org/reny/" target="_blank">新宿ReNY</a><br> 
時間：開場/15:00　開演/15:30（予定）<br>
出演：Rev:robe/萌えこれ学園/BONBON!!chocolat/gra-DOLL/桜花爛漫/東京23区ガールズ/99％LOVER/病ンドル/姫恋エデン/BiRESCO/キミイロプロジャクト/キミイロユース/KUNO1-YMT/ブルートリップ./鈴音ひとみ/他 <br>
※Rev:robeの出演時間は後日発表致します。<br>

料金：前売￥2,500/当日￥3,000（ドリンク代別途必要）<br>
チケット：こちらの<a href="pre" target="_blank">予約ページ</a>もしくはあっとふぉ〜むカフェ2Fにて予約<br><br>



INFO：新宿ReNY&nbsp;03-5990-5561<br>

<div class="foot2">2019.2.06</div></div><br>

<!--ここまで-->
