<!--ここから-->
  <div class="style2">
  <div id="0323" class="title4">  
【イベント詳細】&nbsp;2019年3月23日（土）イベント出演決定！</div><br>



イベント名：「GIRLS×GIRLS×GIRLS」<br>
日時：2019年3月23日（土）<br>
会場：<a href="http://www.kinema.jp/" target="_blank">東京キネマ倶楽部</a><br>
出演：Rev:robe、CANDY GO!GO!、フルーティー、R 2o Love to Sweet Bullet､戦国アニマル極楽浄土、ゆるっと革命団、虹色幻想曲〜プリズム・ファンタジア、安島菜々、C;ON、KiREI、P.IDL、Splash！、COLOR'z､99%LOVER i*chop_memory､8princess､143∞、ZOMBIE POWDER、ティーンズ☆ヘブン、代々木女子音楽院23、littlemore.ミニスカポリス、Twinkle☆Stars、天空アイランド-Teamハート-、天空アイランド-teamクローバー-、他<br>
※出演者は変更になる場合もございます。<br>
※Rev:robeの出演時間は後日発表いたします。<br><br>


時間：開場/10:30　開演/11:00（予定）<br>
チケット料金：￥2,500（ドリンク代別途500円必要）<br>
チケットは当日券のみとなります。<br>
再入場可能（再入場時は受付にてスタンプをもらってください）<br>


<!--イベント会場にてRev：robeのデビューシングルをご予約いただいた方は特典会にご参加いただけます。<br>-->
<!--全額入金にてCDをご予約いただきました方へCD1枚につき、特典券1枚をお渡し致します。<br><br>-->
<!--特典会の内容は以下になります。<br><br>-->

<!-- ①特典券1枚：全員握手（1人20秒）<br>-->
<!-- ②特典券2枚：ツーショットチェキ or 写メ（撮影の他に1分トーク)<br>-->
<!-- ③特典券3枚：4ショットチェキ　or 写メ<br>-->


<!--※写メをご希望の方は、デフォルトのカメラでの撮影のみとさせていただきます。<br>-->
<!-- (カメラアプリ等での撮影は禁止とさせていただきます）<br>-->
<!-- ※録画機能禁止とさせていただきます。<br> -->
<!-- ※特典券のまとめだしを禁止とさせていただきます。<br><br>-->
 
<!--また、特典会最後に当日チケットをお持ちの方は無料でハイタッチ会を実施いたしますので、-->
<!--ぜひご参加ください。<br>-->

<br>

<div class="foot2">2019.3.6</div></div><br>

<!--ここまで-->
