<!--ここから-->
  <div class="style2">
  <div id="02064" class="title4">  
【イベント詳細】&nbsp;2019年2月17日（日）イベント出演決定！</div><br>

Rev:robe初イベントへの出演が決定しました。<br>
<br>

イベント名：「Sparkling Heart's」<br>
日時：2019年2月17日（日）<br>
会場：<a href="http://clubgoodman.com" target="_blanc">秋葉原CLUB GOODMAN</a><br> 
時間：開場/10:45　開演/11:00（予定）<br>
出演：Rev:robe/加山愛純/藤岡まりも/高杉りおな/まんまるもえか/斎藤れな/フルーツリング/ねこの集い/愛原みょ/∞Reversible∞/Revival:Ⅰ <br>
※Rev:robeの出演時間は13:15〜、物販は14:05〜となります。<br>
料金：前売3,000円/当日3,500円<br>
チケット：予約は締め切らせて頂きました。<br><br>

★特典会について<br>
イベント会場にてRev：robeのデビューシングルをご予約いただいた方は特典会にご参加いただけます。<br>
全額入金にてCDをご予約いただきました方へCD1枚につき、特典券1枚をお渡し致します。<br><br>

ご参加いただける特典会の内容は以下になります。<br><br>

①特典券1枚：全員握手（1人20秒）<br>
②特典券2枚：ツーショットチェキ or 写メ（撮影の他に1分トーク)<br>
③特典券3枚：4ショットチェキ　or 写メ<br><br>

※写メをご希望の方は、デフォルトのカメラでの撮影のみとさせていただきます。
(カメラアプリ等での撮影は禁止とさせていただきます）<br>
※録画機能禁止とさせていただきます。<br>
※特典券のまとめだしを禁止とさせていただきます。<br><br>

また、特典会最後に当日チケットをお持ちの方は無料でハイタッチ会を実施致しますので、ぜひご参加ください<br>


<div class="foot2">2019.2.06</div></div><br>

<!--ここまで-->
