<!--ここから-->
  <div class="style2">
  <div id="0319" class="title4">  
【イベント詳細】&nbsp;2019年3月19日(火)イベント出演決定！</div><br>

イベントへの出演が決定しました！<br>
<br>


イベントタイトル：「MXに一番近いFES vol.13」<br>
日時：2019年3月19日（火）<br>
会場：<a href="http://www.tfmhall.jp/accsess" target="_blank">TOKYO FM HALL</a><br>
出演：Rev:robe、アキシブproject、DREAMING MONSTER、KATA☆CHU、恋するフリーク、Very Very Red Berry、ゆるっと革命団、藍色アステリズム、Dollykiss、PM3:58、ルルネージュ、ニコニコ♡STREET、地獄まで30センチ <br>
開場/開演時間：&nbsp;16:45/&nbsp;17:10<br>
※Rev:robeの出演時間は18:30〜18:50、特典会はAにて18:55〜19:55となります<br>

料金：（前売）&nbsp;2,500円/（当日）&nbsp;3,000円 (※ドリンク代別途必要）<br>
チケット：詳細は<a href="https://tiget.net/events/49945/" target="_blank">
主催者予約サイト</a>をご覧ください。<br><br>


特典会内容:<br>

イベント会場にてRev：robeのデビューシングルをご予約いただいた方は特典会にご参加いただけます。
全額入金にてCDをご予約いただきました方へCD1枚につき、特典券1枚をお渡し致します。<br><br>

特典会の内容は以下になります。<br><br>

①特典券1枚：全員握手（1人20秒）<br>
②特典券2枚：ツーショットチェキ or 写メ（撮影の他に1分トーク)<br>
③特典券3枚：4ショットチェキ　or 写メ<br><br>

また上記内容とは別に、当日イベントチケットご提示で「2ショットチェキor写メ1回」（撮影の他に30秒トーク）にご参加いただけます。<br>
（イベントチケットをご提示いただいた際に、チケット裏に済印を押させていただきます。予めご了承ください）<br>
<br><br>

※写メをご希望の方は、デフォルトのカメラでの撮影のみとさせていただきます。
 (カメラアプリ等での撮影は禁止とさせていただきます）<br>
※録画機能禁止とさせていただきます。<br> 
※特典券のまとめだしを禁止とさせていただきます。<br><br>
 

<br>



<div class="foot2">2019.2.27</div></div><br>

<!--ここまで-->

