<!--ここから-->
  <div class="style2">
  <div id="0309" class="title4">  
【イベント詳細】&nbsp;2019年3月9日（土）イベント出演決定！</div><br>


対バンイベントへの出演が決定しました。ぜひ応援にきてください！<br>
<br>

イベント名：「AKIBA　GIRLS MEETING」<br>
日時：2019年3月9日（土）<br>
会場：<a href=" http://twinbox.info/" target="_blank">Twinbox×GARAGE</a><br>
時間：2部　開場/15:50　開演/16:05（予定）<br>
出演：Rev:robe 他<br>
※Rev:robeの出演時間等は詳細は後日発表致します。<br>

料金：前売￥2,500/当日￥3,000（ドリンク代別途必要）<br>
チケット：後日発表致します<br>

<div class="foot2">2019.2.18</div></div><br>

<!--ここまで-->
