<!--ここから-->
  <div class="style2">
  <div id="0331" class="title4">  
【イベント詳細】&nbsp;2019年3月31日(日)イベント出演決定！</div><br>

イベントへの出演が決定しました！<br>
<br>


イベントタイトル：「MX IDOL PARTY Vol.1」<br>
日時：2019年3月31日（日）<br>
会場：<a href="http://myoujin-hall.jp" target="_blank">神田明神ホール</a><br>
出演：Rev:robe、あっとせぶんてぃーん、ナナランド、FES☆TIVE、Pimm's、なんキニ！、monogatari、アメフっシ、マジカル・パンチライン、NEO JAPONISM、Jewel☆Neige、Jewel☆Ciel、Jewel☆Rouge、絶対直球女子！、プレイボールズ、Chu-Z、東京CuteCute、ゑんら、chuLa、ネコプラ、KATA☆CHU、YOANI 1年C組、アンダービースティー、ティアーズ、Lily of the valley､恋するフリーク、ゆるっと革命団、Very Very Red Berry､Dollykiss､PM3:58 <br>
開場/開演時間：&nbsp;11:00/&nbsp;11:30<br>
※Rev:robeの出演時間は11:45〜12:00まで。特典会は12:05〜12:55（B）となります。<br><br>

料金：（前売）&nbsp;3,500円/（当日）&nbsp;4,000円 (※ドリンク代別途必要）<br>
チケット:<a href="https://eplus.jp/mxidol-party1" target="_blank">イープラス</a>にて受付<br>
(先行抽選申込期間)3月2日（土）11:00〜3月4日（月）23:59<br>
(当落・入金期間）3月6日（水）13:00〜3月7日（木）21:00まで <br>
一般発売：3月10日（日）10:00〜<br><br>

特典会の内容については、後日発表致します。<br><br>



<!--イベント会場にてRev：robeのデビューシングルをご予約いただいた方は特典会にご参加いただけます。<br>-->
<!--全額入金にてCDをご予約いただきました方へCD1枚につき、特典券1枚をお渡し致します。<br><br>-->

<!--特典会の内容は以下になります。<br><br>-->

<!-- ①特典券1枚：全員握手（1人20秒）<br>-->
<!-- ②特典券2枚：ツーショットチェキ or 写メ（撮影の他に1分トーク)<br>-->
<!-- ③特典券3枚：4ショットチェキ　or 写メ<br>-->
<!-- ④特典券4枚：ソロムービー（10秒）<br><br>-->


<!-- ※写メをご希望の方は、デフォルトのカメラでの撮影のみとさせていただきます。-->
<!-- (カメラアプリ等での撮影は禁止とさせていただきます）<br>-->
<!-- ※録画機能禁止とさせていただきます。<br> -->
<!--  ※特典券のまとめだしを禁止とさせていただきます。<br><br>-->
 



<br>



<div class="foot2">2019.3.1</div></div><br>

<!--ここまで-->

