<!--ここから-->
  <div class="style2">
  <div id="0510" class="title4">  
【イベント詳細】&nbsp;2019年5月10日（木）イベント出演決定！</div><br>

イベントへの出演が決定しました！<br>
<br>
イベントタイトル：「MX IDOL FESTIVAL Vol.9」<br>
日時：2019年5月10日（金）<br>
会場：<a href="http://www.tbs.co.jp/blitz/" target="_blank">マイナビBLITZ赤坂</a><br>
出演：Rev:robe、 虹のコンキスタドール、アキシブproject、二丁目の魁カミングアウト、ナナランド、DREAMING MONSTER、アメフラっシ、なんキニ！、NEO JAPONISM、イケてるハーツ、<br>
notall、ゑんら、chuLa、Lily of the valley、悲撃のヒロイン症候群、Koifuri、HIGH SPIRITS、Very Very Red Berry、ゆるっと革命団、あそびダンジョン、DollyKiss、<br>
TEARS-ティアーズ-、Neat and clean-ニトクリ-、Sistersあにま、Rev:robe、BABY BLUE EYES、パピプペポは難しい<br>
開場/開演時間：13:00/ 13:30　※予定<br>
<br>

 料金：（前売） 1Fスタンディング前売り3,500円／当日4,000円 &nbsp;2F指定席6,000円(1Fへの出入り自由)（各ドリンク代別）<br>
チケット:<a href="https://eplus.jp/mxidol-9/" target="_blank">イープラスにて受付</a><br>
【先行抽選】<br>
先行抽選 3/23（土）11:00〜3/27（水）23:59<br>
当落・入金 3/29（金）13:00〜4/2（火）21:00<br>
一般発売 4/6（土）～<br>
再入場無料（ドリンク代など無し）<br><br><br>


Rev:robeの出演時間、特典会の内容については、後日発表致します。
<br>

<div class="foot2">2019.3.22</div></div><br>

