<!--ここから-->
  <div class="style2">
  <div id="201904" class="title4">  
【イベント詳細】&nbsp;AKIBAカルチャーズ劇場での定期公演が決定しました！</div><br>

＠ほぉ〜むカフェお隣にある、AKIBAカルチャーズ劇場にて4〜6月の第二、第四水曜日に定期公演を開催致します。<br>

<br>

タイトル：「Rev:robe定期公演」<br>
日時：2019年4月10日/24日（水）・5月8日/22日（水）・6月12日/26日（水）<br>
会場：<a href="https://akibalive.jp" target="_blank">AKIBAカルチャーズ劇場</a><br> 
時間：開場/18:30　開演/19:00（予定）<br>
料金：前売￥2,000/当日￥2,500（ドリンク代別途600円）<br>
チケット：Pigoo Live<br>

2019年4月10日は<a href="https://map.pigoo.jp/events/view/3457" target="_blank">こちら</a><br>
2019年4月24日は<a href="https://map.pigoo.jp/events/view/3459" target="_blank">こちら</a><br>
2019年5月08日は<a href="https://map.pigoo.jp/events/view/3460" target="_blank">こちら</a><br>
2019年5月22日は<a href="https://map.pigoo.jp/events/view/3461" target="_blank">こちら</a><br>
2019年6月12日は<a href="https://map.pigoo.jp/events/view/3462" target="_blank">こちら</a><br>
2019年6月26日は<a href="https://map.pigoo.jp/events/view/3463" target="_blank">こちら</a><br>


<div class="foot2">2019.2.06</div></div><br>

<!--ここまで-->
