<!--ここから-->
  <div class="style2">
  <div id="0329" class="title4">  
【イベント詳細】&nbsp;「Blue Mirage」がバラエティ番組の4月度エンディングテーマに決定しました！</div><br>

番組名：テレビ東京<a href="https://www.tv-tokyo.co.jp/jikkuri_kiitarou/" target="_blank" >「じっくり聞いタロウ〜スター近況（秘）報告〜」</a><br><br>
放送日：2019年4月毎週木曜日24:12〜25:00<br>
（4月のオンエア日は、4日、11日、18日、25日となります。<br>
※4/25のみ世界卓球の放送の影響で時間変更及び休止の可能性があります。）<br><br>
放送局：テレビ東京、テレビ大阪、テレビ愛知、テレビせとうち、テレビ北海道、TVO九州放送他<br>
<br>

<div class="foot2">2019.3.29</div></div><br>

<!--ここまで-->
