<!--ここから-->
  <div class="style2">
  <div id="0309" class="title4">  
【イベント詳細】&nbsp;2019年3月9日（土）イベント出演決定！</div><br>


対バンイベントへの出演が決定しました。ぜひ応援にきてください！<br>
<br>

イベント名：「AKIBA　GIRLS MEETING」<br>
日時：2019年3月9日（土）<br>
会場：<a href=" http://twinbox.info/" target="_blank">Twinbox×GARAGE</a><br>
時間：2部　開場/15:50　開演/16:05（予定）<br>
出演：Rev:robe 他<br>
※Rev:robeの出演時間20:25〜20:40までとなります。物販は終演後21:15〜22:05となります。<br>

料金：前売￥2,500/当日￥3,000（ドリンク代別途必要）<br>
チケット：<a href="https://ws.formzu.net/fgen/S22854633" target="_blank">イベントチケット予約フォーム</a>よりお申し込みください<br>
チケット予約受付期間：3月3日（日）18:00〜3月8日（金）0:00まで<br>
※ご予約の際は必ず、お名前、枚数、日付、お目当てのアーティスト名をご記入ください<br><br>


イベント会場にてRev：robeのデビューシングルをご予約いただいた方は特典会にご参加いただけます。<br>
全額入金にてCDをご予約いただきました方へCD1枚につき、特典券1枚をお渡し致します。<br><br>
特典会の内容は以下になります。<br><br>

 ①特典券1枚：全員握手（1人20秒）<br>
 ②特典券2枚：ツーショットチェキ or 写メ（撮影の他に1分トーク)<br>
 ③特典券3枚：4ショットチェキ　or 写メ<br>


※写メをご希望の方は、デフォルトのカメラでの撮影のみとさせていただきます。<br>
 (カメラアプリ等での撮影は禁止とさせていただきます）<br>
 ※録画機能禁止とさせていただきます。<br> 
 ※特典券のまとめだしを禁止とさせていただきます。<br><br>
 
また、特典会最後に当日チケットをお持ちの方は無料でハイタッチ会を実施いたしますので、
ぜひご参加ください。<br>

<br>

<div class="foot2">2019.2.18</div></div><br>

<!--ここまで-->
