<!--ここから-->
  <div class="style2">
  <div id="0324" class="title4">  
【イベント詳細】&nbsp;2019年3月24日(日)イベント出演決定！</div><br>

イベントへの出演が決定しました！<br>
<br>


イベントタイトル：「アイドル甲子園　SPRING FESTIVAL 2019」<br>
日時：2019年3月24日（日）<br>
会場：<a href="https://www.studio-coast.com" target="_blank">新木場STUDIO COAST</a><br>
出演：Rev:robe他（その他出演者については、<a href="http://www.idolkoushien.com/schedule/detail/20190324" target="_blank">イベントオフィシャルサイト</a>をご覧ください） <br>
開場/開演時間：&nbsp;10:00/&nbsp;10:30(21:30終演予定）<br>
※Rev:robeの出演はANGEL甲子園にて15:30〜15:50までとなります。特典会は16:05〜17:05（場所:B）です。<br>

料金：（前売）&nbsp;スタンディング5,000円/（当日）&nbsp;スタンディング5,500円 (※入場時ドリンク代別途必要）<br>
チケット：詳細は<a href="http://www.idolkoushien.com/schedule/detail/20190324/" target="_blank">
イベントオフィシャルサイト</a>をご覧ください。<br>



特典会内容:<br>

イベント会場にてRev：robeのデビューシングルをご予約いただいた方は特典会にご参加いただけます。
全額入金にてCDをご予約いただきました方へCD1枚につき、特典券1枚をお渡し致します。<br><br>

特典会の内容は以下になります。<br><br>

①特典券1枚：全員握手（1人20秒）<br>
②特典券2枚：ツーショットチェキ or 写メ（撮影の他に1分トーク)<br>
③特典券3枚：4ショットチェキ　or 写メ<br><br>

また上記内容とは別に、当日イベントチケットご提示で「2ショットチェキor写メ1回」（撮影の他に30秒トーク）にご参加いただけます。<br>
<br><br>

※写メをご希望の方は、デフォルトのカメラでの撮影のみとさせていただきます。
 (カメラアプリ等での撮影は禁止とさせていただきます）<br>
※録画機能禁止とさせていただきます。<br> 
※特典券のまとめだしを禁止とさせていただきます。<br><br>
 


問合せ：ディスクガレージ &nbsp;TEL_050-5533-0888(平日12:00〜19:00)<br>

<br>



<div class="foot2">2019.2.19</div></div><br>

<!--ここまで-->

