<!--ここから-->
  <div class="style2">
  <div id="0426" class="title4">  
【イベント詳細】&nbsp;2019年4月26日（金）イベント出演決定！</div><br>


イベント名：「ギルドフレンズ」番組SPECIALライブ vol.6<br>
日時：2019年4月26日（金）<br>
会場：<a href="http://cosmiclab.info/" target="_blank">秋葉原COMIC LAB</a><br>
出演：Rev:robe、ギルドドロップス、キャンディzoo、上月せれな、DEAR KISS､ミニスカポリス他<br><br>

http://cosmiclab.info/


時間：開場/18:00　開演/18:30（22:00終演予定）<br>
チケット料金：前売2,000円／当日2,500円（入場時1ドリンク代必要）<br>
※3歳以上チケット必要<br>
チケット:<a href="https://ticket.rakuten.co.jp/music/jpop/idle/RTBFAAF/    " target="_blank">楽天チケット</a><br><br>



<!--イベント会場にてRev：robeのデビューシングルをご予約いただいた方は特典会にご参加いただけます。<br>-->
<!--全額入金にてCDをご予約いただきました方へCD1枚につき、特典券1枚をお渡し致します。<br><br>-->
<!--特典会の内容は以下になります。<br><br>-->

<!-- ①特典券1枚：全員握手（1人20秒）<br>-->
<!-- ②特典券2枚：ツーショットチェキ or 写メ（撮影の他に1分トーク)<br>-->
<!-- ③特典券3枚：4ショットチェキ　or 写メ<br>-->


<!--※写メをご希望の方は、デフォルトのカメラでの撮影のみとさせていただきます。<br>-->
<!-- (カメラアプリ等での撮影は禁止とさせていただきます）<br>-->
<!-- ※録画機能禁止とさせていただきます。<br> -->
<!-- ※特典券のまとめだしを禁止とさせていただきます。<br><br>-->
 
<!--また、特典会最後に当日チケットをお持ちの方は無料でハイタッチ会を実施いたしますので、-->
<!--ぜひご参加ください。<br>-->

【番組概要】<br>
番組名：ギルドフレンズ〜飯田里穂の！世界へ？本気です！〜<br>
放送局：BSフジ<br>
放送予定日：2019年5月17日（金）24:00〜24:30<br>
公式サイトは<a href="http://www.bsfuji.tv/guildfriends/" target="_blank">こちら</a><br><br>


問合せ：レッドノーズコーポレーションTEL_03-5155-8550<br><br>


※Rev:robeの出演時間、特典会内容は後日発表いたします。<br>



<div class="foot2">2019.3.7</div></div><br>

<!--ここまで-->
