<!--ここから-->
  <div class="style2">
  <div id="0428" class="title4">  
【イベント詳細】&nbsp;2019年4月28日(日)イベント出演決定！
</div><br>

イベントタイトル：「GIRLS VISION＠渋谷クアトロ」<br>
 日時：2019年4月28日(日)<br>
 会場：渋谷CLUB QUATTRO<br>
出演：藍色アステリズム / アイドキュレーション / 愛夢GLTOKYO / いちごみるく色に染まりたい。 / いちぜん！ / OBP / KATA☆CHU /KAMOがネギをしょってくるッ!!! / キミイロプロジェクト / 九州女子翼 / Q-pitch / 狂い咲けセンターロード / 黒は着ない。 / 減色シアター / ころころパピー / JYA☆PON / 全力少女R / chuLa /TOKYO喫茶 / TOKYO SWEET PARTY / ネコプラ / ぴーおん♡ /ひとカケラの世界。 / PINKY CASE / PUPUPU81 / 虹色幻想曲～プリズム・ファンタジア～ / ミニスカポリス / モエギノジノム / ゆるっと革命団 / YOANI１年C組 / Rev:robe / and more<br>
開場/開演時間：11:20/ 11:40<br>
料金：（前売） 2,500円/当日3,000円<br>
チケット:<a href="https://t.livepocket.jp/event/search?word=GIRLS+VISION" target="_blank">LivePocket-Ticket</a>にて3/28（木）12:00～発売<br>

<br>

<div class="foot2">2019.3.27</div>
  </div><!--sty-->

<!--ここまで-->
