<!--ここから-->
  <div class="style2">
  <div id="0130" class="title4">  
【イベント詳細】&nbsp;2019年2月6日（水）お披露目イベントでの特典会開催が出演決定しました！</div><br>

Rev:robe初イベントへの出演が決定しました。<br>
<br>


2月6日に行なわれるお披露目イベントで、Rev：robeのデビューシングルをご予約いただいた方への、特典会開催が決定いたしました！<br>
当日、会場で全額入金にてCDをご予約いただきました方へCD1枚につき、特典券1枚をお渡し致します。<br><br>

特典券をお持ちの方は、下記の特典会にご参加いただけます。<br><br>

・特典券1枚：2ショットチェキ or 写メ<br>
・特典券2枚：サイン付き2ショットチェキ or ソロチェキ<br>
・特典券3枚：4ショットチェキ or 写メ<br>

<div class="foot2">2019.1.30</div></div><br>

<!--ここまで-->
