<!--ここから-->
  <div class="style2">
  <div id="0125" class="title4">  
【イベント詳細】&nbsp;Rev:robe結成＆ティザーサイトオープン</div><br>

秋葉原のメイドカフェ「＠ほぉ〜むカフェ」の現役メイド、ナギ、あゆ、はぐみの3名によるユニット『Rev:robe』結成！<br>
この春のCDリリースに向けて始動致します。<br>

<div class="foot2">2019.1.25</div></div><br>

<!--ここまで-->
