<!--ここから-->
  <div class="style2">
  <div id="0413" class="title4">  
【イベント詳細】&nbsp;2019年4月13日(土)インストアライブ決定！</div><br>

インストアライブへの出演が決定しました。フリーイベントとなっておりますのでぜひ遊びに来てください！<br>
<br>


日時：2019年4月13日（土）14:00〜<br>

会場：<a href="https://tower.jp/store/kanto/TowerMinidivercitytokyo" target="_blank">TOWER miniダイバーシティ東京プラザ店　店内イベントスペース</a><br>

出演：Rev:robe <br>
イベント内容：ミニライブ＆特典会 】&nbsp; ※観覧無料<br>
CDご予約のお客様は特典会にご参加いただけます。<br><br><br>



★特典会について<br>
当日13:00よりイベント会場にてRev：robeのデビューシングルをご予約いただいた方は特典会にご参加いただけます。<br>
全額入金にてCDをご予約いただきました方へCD1枚につき、特典券1枚をお渡し致します。<br><br>

特典会の内容は以下になります。<br><br>

 ①特典券1枚：全員握手（1人20秒）<br>
 ②特典券2枚：ツーショットチェキ or 写メ（撮影の他に1分トーク)<br>
 ③特典券3枚：4ショットチェキ　or 写メ<br>
 ④特典券4枚：自撮り2ショットチェキ or 写メ（メンバーがカメラを持って一緒に自撮りします）<br><br>


 ※写メをご希望の方は、デフォルトのカメラでの撮影のみとさせていただきます。
 (カメラアプリ等での撮影は禁止とさせていただきます）<br>
 ※録画機能禁止とさせていただきます。<br> 
 ※特典券のまとめだしを禁止とさせていただきます。<br><br>
 



【特典会参加方法】<br><br>

※会場の都合により予約開始時間が遅れる場合もございます。<br>
※ミニライブの観覧は無料です。<br>
※ミニライブ終演後、CDをご予約頂いたお客様を対象に特典会を開催します。<br>
※「CD」1枚ご予約につき、「特典会参加券」を1枚、先着でお渡しします。<br>
※イベントは列が途切れ次第終了とさせて頂きます。<br><br>


 

 【ご予約について】<br><br>
 ※お支払いは全額現金となります。クレジットカード、電子マネー、商品券等は使用できませんので予めご了承ください。<br>
 ※ご予約後のキャンセル・返金及び商品仕様の変更は一切お受けできませんのでご了承ください。<br>
 ※当日の店内レジの混雑が予想されます。特典会の時間には限りがございますので、お早めのご利用にご協力お願いします。ご予約列にお並び頂いているお客様がいらっしゃいましても、途中でイベントの受付を終了する場合がございます。予めご了承ください<br>
 ※ご予約の登録および受付は、当日イベント会場のみ有効です。<br>
 ※ご予約の登録は、お客様のスマートフォン・ケータイ(ガラホ)からの対応となります。<br>
 ※ご予約の登録には、お客様の携帯番号・メールアドレスが必須です。<br>
 ※登録後に『towerrecords.co.jp』のドメインから「ご注文受付のお知らせ」メールが配信されますので、あらかじめドメイン受信設定をご確認ください。また、迷惑メール設定がされている場合も同様です。メールが届かないと予約受付が出来ませんので、必ずご自身の端末での受信設定をご確認くださいますようお願いします。<br>
 ※ご予約登録の際は、イベント会場に告知されているQRコードより予約用サイトへアクセスしてください。<br>
 ※ご希望の予約商品をお選び頂き、数量・特典・注意事項を確認しながらご予約内容を入力して登録してください。<br>
 ※ご予約商品は、TOWERminiダイバーシティ東京プラザ店での受け取り、もしくは配送(送料￥800を別途頂きます)のいずれかをお選び頂けます。<br>
  ※予約登録後に届いた「ご注文受付のお知らせ」メールが届きます。この時点ではご予約は完了していませんので、メール内のご注文情報のURLを開いて、QRコードを会場のレジ窓口にご提示ください。<br>
  ※ご予約内容を確認後、商品に応じた特典をお渡しします。決済確定後の変更・キャンセル及び受取拒否は出来ません。<br>
  ※ご予約商品お支払い後、「決済完了のお知らせ」メールが届きますので、この時点で予約受付が完了します。<br>
  ※店頭にてお受け取りの際や配送のお問い合わせの際に必要となりますので、大切に保管してください。万が一、「決済完了のお知らせ」メールが届いてない場合は、必ずスタッフまでお尋ねください。<br>
  ※お支払い方法は現金のみです。各種クーポン/ポイントカードはご利用頂けません。<br><br>

【お受け取りについて】<br><br>
 ※店舗での商品お受け取りは、4/22(月)夕方以降となります。<br>
 ※商品お受け取りの際、「決済完了のお知らせ」メール内のご注文情報のURLを開いて、受け取り用のバーコードをご提示ください。バーコードは入荷日より表示されます。<br>
 ※商品のお取り置き期間は発売日から4週間となり、5/21(火)までとなります。<br>
 ※お取り置き期限終了後は、商品のお渡しはできません。その際、代金は返金しかねますので、あらかじめご了承ください。<br>
 ※配送を希望された方は、「決済完了のお知らせ」メールのご注文情報に記載の発送予定日より順次配送します。 <br><br>




 【対象商品】<br><br>
  2019/4/23(水)発売<br>
   Rev:robe「Blue Mirage」<br>
    ＜初回限定盤＞ ［CD+DVD］ TMS-360　￥1,389＋税<br>
    ＜通常盤＞[CD]　TMS-361　￥926＋税 <br><br>


【注意事項】<br><br>
※会場は商業施設内となります。イベントに参加されないお客様も多数おられます。どうぞご留意願います。<br>
※本イベントは、録音・録画・撮影等は禁止させて頂いております。<br>
※ライブイベント中の「ジャンプ行為」「激しい踊り」「コール」は禁止とさせて頂きます。<br>
※飲酒、酒気帯びの方は特典会へのご参加はできませんので、ご了承願います。<br>
※安全のため、会場内および会場周辺では、肩車、傘を差してのご観覧はご遠慮ください。尚、柵に身を乗り出す等の危険な行為はご遠慮ください。<br>
※イベント中はスタッフがお客様の肩や腕などに触れて誘導する場合がございます。この事をご了承頂けるお客様のみイベントへご参加ください。<br>
※当日会場では、スタッフからの指示にご理解とご協力をよろしくお願いします。当日スタッフの指示に従って頂けない場合は、イベントの中止もしくはご退場を頂く場合がございます。予めご了承の上ご参加ください。<br>安全な運営を図るため、入場・握手会時にお客様の手荷物検査もしくは手荷物の一時お預かり、いずれかの対応をさせて頂く場合がございます。また、帽子などのかぶり物や、装飾品及びグッズ類を含む全ての物品の首下げ、<br>着用もお断りさせて頂く場合がございます。<br>必要と判断される場合はボディチェックをさせて頂く事もございます。その際は係員の指示に従って頂きますよう、何卒ご協力お願いします。<br>
※紛失・盗難等による参加券の再発行はしませんのでご注意ください。<br>
※特典会参加券の転売を目的とした行為が発覚した場合は、その特典会参加券は無効となります。<br>
※イベント会場のスペースの関係上、大きいお荷物は事前にコインロッカー等にお預けくださいますようお願いします。<br>
※プレゼントのお渡しは禁止とさせていただきます。また、ファンレターはスタッフにお渡しください。<br>
※天候や災害、トラブルやアーティストの都合により、やむをえず中止になる場合がございます。予めご了承ください。<br>
※会場までの交通費・宿泊費等はお客様ご自身のご負担となります。<br>
※事前のお集まり、前日から会場周辺での泊まり込みなど、他のお客様のご迷惑になる行為は固くお断りします。<br>
※会場内・外で発生した事故・盗難等は主催者・会場・出演者は一切責任を負いません。貴重品は各自で管理してください。また、当日の体調管理に関しましては、お越し頂くお客様ご自身の責任にてお願いします。<br>
※当日の事故・混乱防止のため、イベントでは様々な制限を設けさせて頂くことがございます。<br>
※当日、取材等により、カメラが入る可能性がございます。お客様が映りこむ可能性もございますので、予めご了承ください。<br>
※イベント当日の駐車券サービスは行っておりません。CD受取時にサービスさせて頂きますので予めご了承の上ご来店ください。<br>
※会場内での飲食行為は禁止とさせて頂きます。<br>
※飲酒している、アルコール類を所持しているお客様のイベントへの参加は固くお断りします。その際、商品のご返品・ご返金は対応出来かねますので、予めご了承ください。<br>
※イベント対象商品の各種ポイント加算、値引きなどは、イベント不参加など如何なる理由があっても行なっておりません。<br>
※イベントスペースを仕切っているパーテーションを跨いだり、潜ったりする行為は危険ですのでおやめください。<br>
※通路、近隣の店舗からのご観覧は、他のお客様のご迷惑となりますので禁止させて頂きます。店内でご観覧ください。<br>
※会場へのイベントの内容に関するお問合せはご遠慮ください。<br>
※お客様のご協力、ご理解を頂き、より良いイベントになるようご協力を何卒宜しくお願いします。<br>


<br>



<div class="foot2">2019.3.13</div></div><br>

<!--ここまで-->
