<!--ここから-->
  <div class="style2">
  <div id="02064" class="title4">  
【お知らせ】&nbsp;2019年4月23日（水）デビューシングル発売決定！</div><br>

<div class="container-fluid">
<div class="row">

<div class="col-sm-12 hidden-xs" >
デビューシングルの発売が決定しました。イベント等で予約受付を開始しますのでぜひご予約ください。<br>
<br>
</div>  

<div class="col-sm-6 hidden-xs">

<div align="center">
<img src="img/info/360.png" class="img-responsive"  width="300" height="300"><br>
タイトル：「Blue Mirage」初回限定盤<br>
発売日：2019年4月23日（水）<br>
品番：TMS-360<br>
形態：CD+DVD<br>
金額：1,389円（税抜）<br>

</div></div>



<div class="well col-md-6 hidden-xs">
<div align="center">
<img src="img/info/361.png" class="img-responsive"  width="300" height="300"><br>
タイトル：「Blue Mirage」通常盤<br>
発売日：2019年4月23日（水）<br>
品番：TMS-361<br>
形態：CD<br>
金額：925円（税抜）<br>

</div></div>



</div>
</div>

<div class="foot2">2019.2.06</div></div><br>

<!--ここまで-->
