<!DOCTYPE html>
<html>
<%include ase/head %>
<%include ase/2nav%>
<body>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12" id="bei">
        <br>
        <br>
        <br>
        <br>
        <span class="badge badge-danger"><h4>404 ページがみつかりません。</h4></span><br><br>
<div class="p-3 bg-mis">
            <%= typeof err %>
            <%= err %>
        </div>

        <h4> トップに <a href="/">もどる</a></h4>
</div><!-- col-->
</div><!-- row-->
</div><!-- cont-->
<% include ase/foot %>

</body>
</html>
