<!DOCTYPE html>
<html>
<%include ase/head %>
<%include ase/nav%>
<%include ase/2nav%>
<body>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12" id="bei">
        <br><br><br>
        <span class="badge badge-info"><h4>500 error</h4></span><br>
        <div class="p-3 bg-mis">
            <%= err %>
        </div>

        <h4> トップに <a href="/">もどる</a></h4>
</div><!-- col-->
</div><!-- row-->
</div><!-- cont-->
<% include base/foot %>

</body>
</html>
