<head>
<% include ase/head %>
<% include ase/2nav %>
</head>
<body>
    <br>             
    <br>             
    <br>             
    <br>             
    <br>             

<div class="row">
        <div class="col-md-1"></div>
    <div class="col-md-10">
<div class="title5">CONTACT</div>

<div class="style2">
<%= title%>
</div>
    </div><!-- col -->
        <div class="col-md-1"></div>
    </div><!-- row-->
</div><!-- cont-->
<% include ase/foot %>

</body>

