<%include base/head %>
<%include nav/2nav %>
<div class="container-fluid">
    <!-- row -->
<div class="row">
    <%include base/1sid%>
    <div class="col-10" id="bei">
        <br>
    <% if( error.status=="404"){ %>
    <span class="badge badge-info"><h4>    ページがみつかりません。</h4></span>
    <% } %>
    <br>

<!-- <pre><%= error.stack %></pre> -->
</div>

    <%include base/1sid%>
</div></div>

<%include base/foot%>

