<!DOCTYPE html>
<html>
<%include par/head %>
<body>


<div class="container-fluid">
<div class="row">
<%include par/3nav%>
<img class="img-responsive" src="img/main2.png" width="1680" height"" Style="" alt=""/>


<div class="col-lg-12" style="background-color:white">

  </div><!--col12-->
  </div><!-- row end -->
  </div><!--container-->



<div class="footer"><% include par/foot %></div>

</body>
</html>
