<!DOCTYPE html>
<html>
<%include ase/head %>
<%include ase/nav %>
<script src="js/scr.js"></script>

<body>
<div class="rellax bg-bei p-0" data-rellax-speed="-15"> 
<img class="img-fluid" src="img/main3.jpg">
</div>

<div class="container-fluid "> 
<div class="row">
<div class="col " >

<div class="rellax bg-bei p-2" data-rellax-speed="1" >
<% include par/a %>
</div><!-- rel --> 

<div class="rellax bg-bei p-2" data-rellax-speed="-1" >
<% include par/c %>
</div><!-- rel --> 

</div><!-- col--> 
</div><!-- row--> 
</div><!-- cont --> 

<script src="lib/rellax.min.js"></script>
<script>var rellax = new Rellax('.rellax');
<!-- rellax.destroy(); -->
</script>

<% include ase/foot %>
</body>
</html>
