<!DOCTYPE html>
<html>
<%include par/head %>
<body>


<div class="container-fluid">
<div class="row">

<%include par/nonav%>
<img class="img-fluid" src="img/main3.jpg" width="1600" height"" Style="" alt=""/>
<div class="col-lg-12" style="background-color:white">

<br>

<hr>

<b>【NEWS】&nbsp;&nbsp;&nbsp;2019年2月6日（水）お披露目イベントが決定しました！ (2019.01.25 up)</b>


<div class="style1"><br> 



●日時：2019年2月6日（水）21:00〜22:00（予定）<br>
●会場:&nbsp;<a href="https://www.cafe-athome.com" target="_blank">＠ほぉ〜むカフェ　秋葉原本店6F</a><br>
●出演：Rev:robe(ナギ、あゆ、はぐみ）<br>
●チケット：1月27日（日）9:30より無料配布を開始致します。<br>
※配布場所：＠ほぉ〜むショップ（秋葉原本店2F）<br>
※備考：お渡しするチケット番号はランダムでのお渡しになります。<br><br><br>
問合せ：<a href="http://tmsmusic.tokyo/mail" target="_blank" >トムス・ミュージック</a>

</div>

<br>
<b>【NEWS】&nbsp;&nbsp;&nbsp;Rev:robe結成＆ティザーサイトオープン (2019.01.25 up)</b><br><br>

秋葉原のメイドカフェ「＠ほぉ〜むカフェ」の現役メイド、ナギ、あゆ、はぐみの3名によるユニット『Rev:robe』結成！<br>
この春のCDリリースに向けて始動致します。<br>

</div>






   
</div><!--col12-->
</div><!-- row end -->
</div><!--container-->

<br>
<br>

<div class="footer"><% include par/foot %></div>

</body>
</html>
