<!DOCTYPE html>
<html>
<%include ase/head %>
<body>
<%include ase/nav %>
<%include ase/3nav %>
<div class="rellax bg-bei p-0" data-rellax-speed="-15"> 
<img class="img-fluid" src="img/main3.jpg">
</div>

<div class="container-fluid "> 
<div class="row">
<div class="col bg-transparent" >
<div class="rellax bg-bei p-2" data-rellax-speed="1" >


<h1><b>NEWS</b></h1>

<p >2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#20190217" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年2月17日（日）イベント出演決定！</p>
<hr size="10" noshade></hr>
<p >2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#20190301" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年3月1日（金）＠ほぉ〜むカフェ大運動会への出演決定！</p>
<hr size="10" noshade></hr>
<p >2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#20190326" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年3月26日（火）イベント出演決定！</p>
<hr size="10" noshade></hr>
<p >2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#201904" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年4月〜6月の定期公演が決定しました！</p>
<br><br>

<a class="btn btn-info" href="page-news" role="button">more</a><br><br>
	
</div><!-- rel --> 
<br>
<div class="rellax  bg-ali p-2" data-rellax-speed="0" >
 <hr size="10" noshade></hr>
<p >2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#201904" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年4月〜6月の定期公演が決定しました！</p>
</div><!-- rel --> 
<br>
<div class="rellax  bg-tom p-2" data-rellax-speed="0" >
<hr size="10" noshade></hr>
<p >2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#201904" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年4月〜6月の定期公演が決定しました！</p>
</div><!-- rel --> 

</div><!-- col--> 
</div><!-- row--> 
</div><!-- cont --> 

<script src="lib/rellax.min.js"></script>
<script>
  var rellax = new Rellax('.rellax');
</script>

<% include ase/foot %>
</body>
</html>
