<!DOCTYPE html>
<html>
<%include par/head %>
<%include par/2nav%>
<body>


<div class="container-fluid">
<div class="row">

<div class="col-lg-12" style="background-color:white">
<div align="center">

<br><br>
<img class="img-responsive" src="img/WV7i.jpg" width="1140px" height"656" Style="" alt=""/>
<br><br><br><br><br><br><br>

  </div><!--center-->
  </div><!--col12-->
  </div><!-- row end -->
  </div><!--container-->



<div class="footer"><% include par/foot %></div>

</body>
</html>
