<!DOCTYPE html>
<html>
<%include ase/head %>
<body>
<%include ase/2nav %>
<%include ase/3nav %>

<div class="container-fluid" id="stc">
<div class="row">
<div class="col" style="background-color:white">

<div class="card">


<div class="card-body" >
<% if(par=="news"){ %>
<% include par/news %>
<% } else if (par=="profile") { %>
<% include par/prof %>
<% } else if (par=="info") { %>
<% include par/info %>
<% } else if (par=="disc") { %>
<% include par/disc %>
<% } else if (par=="schedule") { %>
<% include par/sch %>
<% } else if (par=="video") { %>
<% include par/vid %>
<% } else if (par=="mail") { %>
<% include par/mail %>

<% } %>


</div><!-- body-->
</div><!-- card-->

</div><!-- col-->
</div><!-- row end -->
</div><!-- cont -->
<% include base/foot %>
</body>
</html>
