body{
font-size :15px;
font-family:'Syltaen',serif;

}

/*navbar*/

.nav-item{
font-size:14px;
font-family:'Syltaen',serif;

}

.navbar-brand{
font-size:13px;
font-family:'Syltaen',serif;

}

/* footer */

.foot1{
font-family:'Syltaen',serif;
}


