body{
font-size :15px;
font-family:'Syltaen',serif;

}

#bkg1{
font-size :15px;
font-family:'Syltaen',serif;
background-color:yellow;

}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-item{
font-size:14px;
font-family:'Syltaen',serif;

}

.navbar-brand{
font-size:13px;
font-family:'Syltaen',serif;

}

/* footer */

.foot1{
font-family:'Syltaen',serif;
}


