<h4><span class="label label-danger">paidy</span></h4>
<br>

&nbsp;&nbsp;&nbsp;&nbsp;

<div class="row">

<div class="well col-md-10">
クリックしてQRコードをさくせいしてください。<br>
<u>注文番号：</u>

<form method="post" action="/shop/adm/dl-<%= pid %> ">
<input type="hidden" value="<%= pid%>" name="pid">

<button><%= pid %></button>
</form>

</div><!-- col10-->

</div><!-- col2-->
</div><!-- cont-->


