<figure>
  <img src="img/ayu.jpg" class="figure-img img-fluid" >

  <figcaption>
    <h1>あゆ</h1><br>
    <p>生年月日：3月10日<br>
    身長：157cm<br>
    血液型：もちもち型<br>
    出身地：ダイヤモンドプラネット<br>
    特技：歌、声量があること<br>
    趣味：美容、アニメ<br>
    所属：＠ほぉ〜むカフェ（プレミアムメイド）<br><br>
    メンバーカラー：青<br><br>
    </p>

  </figcaption>
</figure>


