<figure>
    <img src="img/hagumi.jpg" class="figure-img img-fluid"> 

  <figcaption >
    <p>生年月日：12月16日<br>
    身長：151cm<br>
    血液型：はちみつ型<br>
    出身地：はぐの森<br>
    特技：ダンス、バレエ、歌<br>
    趣味：アイドル、バレエ、歌<br>
    所属：＠ほぉ〜むカフェドンキ店所属<br><br>
    メンバーカラー：黄色<br>
    </p>
  </figcaption>
       
</figure>


