<figure>
<img src="img/hagumi.jpg" class="figure-img img-fluid" 
data-toggle="modal" data-target="#hag">

<!-- The Modal -->
<div class="modal fade " id="hag">
<div class="modal-dialog modal-sm">
<div class="modal-content">
      
<div class="modal-header">
<div class="modal-title" align="center">
<h1>はぐみ</h1><br>
</div>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
        
<div class="modal-body">
    <p>生年月日：12月16日<br>
    身長：151cm<br>
    血液型：はちみつ型<br>
    出身地：はぐの森<br>
    特技：ダンス、バレエ、歌<br>
    趣味：アイドル、バレエ、歌<br>
    所属：＠ほぉ〜むカフェドンキ店所属<br><br>
    メンバーカラー：黄色<br>
    </p>
</div><!--bod-->
        
        <!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div><!--foot-->

</div><!--con-->
</div><!--dia-->
</div><!--mod-->
        
</figure>


