<figure>
  <img src="img/nagi.jpg" class="img-fluid" >

  <figcaption>
    <h1>ナギ</h1><br>
    <p>生年月日：10月20日<br>
    身長：160cm<br>
    血液型：ミルクティー型<br>
    出身地：モフモフ草原<br>
    特技：歌、ダンス（モダン、バレエ、ジャズ、HIP HOP<br>
    趣味：音楽鑑賞<br>
    所属：＠ほぉ〜むカフェ本店7階所属<br><br>
    メンバーカラー：オレンジ<br>
  
    </p>

  </figcaption>
</figure>


