<div class="container-fluid">
<div class="row">
<br>
<%if(seltmp) { %>
<%if(seltmp && mer.length!==0){%>
<div class="col-md-8">
<% include ./img %>
<br>

<div  align="center" >

<% include ./clr %>
<% include ./bk %>
</div>

</div>

<div class="col-md-4">
<% include ./sum %>
</div>

<% include ./pay %>

<%}else{%><%= shop.emp %><%}%>
<%}else{%>no seltmp<%}%>
</div>

</div>
</div>

