<!DOCTYPE html>
<html>
<% include par/head %>
<% include par/nav %>
<body>

<div class="container-fluid" id="yell">
<div class="row" id="red">

<div class="col-md-2" id="moc">
</div><!-- col2-->

<div class="col-md-10" id="sea">
<br><span class="badge badge-info" id="siz36">完了</span><br><br>
</div><!-- col10-->


</div><!--row-->
</div><!-- /container -->
</body>

<% include par/foot %>
</html>
