<div class="foot">

<div align="center">
<br>

<a href="https://twitter.com/Revrobeofficial" target="_blank"><i class="fab fa-twitter-square fa-1x fa-fw" style="color:white"></i></a>
<a href="https://www.youtube.com/user/tmsm2010" target="_blank"> <i class="fab fa-youtube fa-1x fa-fw" style="color:white"></i></a>
<a href="http://tmsmusic.tokyo/" target="_blank"> <i class="fas fa-music fa-1x fa-fw" style="color:white"></i></a>
<a href="https://twitter.com/Revrobeofficial" target="_blank"><p><font color="#ffffff">twitter</a>/

<a href="https://www.youtube.com/user/tmsm2010" target="_blank"><font color="#ffffff">YouTube</a>/
<a href="http://tmsmusic.tokyo/" target="_blank"><font color="#ffffff">Label</a><p>

<span>&#169;&nbsp;TMS MUSIC CO.,LTD. All Rights Reserved.</span>

</div><!-- cen-->
</div><!--footer-->

