<div class="visible-xs visible-sm fixed-top" style="display: none;">
<button>
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<nav>
<ul class="navbar-nav mr-auto">
<li class="nav-item active"><a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a></li>
<li class="nav-item"><a class="nav-link" href="/page-news">NEWS</a></li>
<li class="nav-item"><a class="nav-link" href="/page-info">INFO</a></li>
<li class="nav-item"><a class="nav-link" href="/page-profile">PROFILE</a></li>
<li class="nav-item"><a class="nav-link" href="/page-disc">DISC</a></li>
<li class="nav-item"><a class="nav-link" href="/page-schedule">SCHEDULE</a></li>
<li class="nav-item"><a class="nav-link" href="/page-video">VIDEO</a></li>
<li class="nav-item"><a class="nav-link" href="/page-mail">MAIL</a></li>
<li class="nav-item"><a class="nav-link" href="/pre">PRE-ORDER</a></li>
</ul>

</nav>
</div>
