<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<script src="lib/jquery.min.js"></script>
<script src="lib/popper.min.js"></script>
<script src="lib/wow.min.js"></script>
<script>new WOW().init();</script>

<link rel="stylesheet" href="css/boot.css">
<link rel="stylesheet" href="css/bas.css">
<link rel="stylesheet" href="css/animate.css">

<title>
rob
</title>
</head>
