<!DOCTYPE html>
<html>
<% include par/head %>
<% include par/nav %>
<body>

<div class="container-fluid">
<div class="row">

<div class="col-md-2" style="color:black">
<% include par/left %>
</div><!-- col2-->

<div class="col-md-10" style="color:black">

<div class="box90"><%= title %></div><!-- box90-->
<br>

<% if(usr) { %>
<div class="well col-md-12" style="color:black">

<% if(literr){ %> err:<p class="label label-default"> <%= literr %></p>
<%} %>

<div class="well">
<<<<<<< HEAD
    <% include par/qr/cr %>
=======
<% include par/adm/cr %>
>>>>>>> 6361efc35b701fe57e41fe670a37cfedb7f6f05f
</div><!-- well-->

</div><!-- col12-->
<% } else { %>
no usr
<% } %>

</div><!-- col10-->


</div><!--row-->
<<<<<<< HEAD
</div><!-- /container -->
=======
</div><!-- container -->
>>>>>>> 6361efc35b701fe57e41fe670a37cfedb7f6f05f

</body>

