<% include par/head %>
<<<<<<< HEAD
<body>
<% include par/nav %>
=======
<% include par/nav %>
<body>
>>>>>>> 6361efc35b701fe57e41fe670a37cfedb7f6f05f
<div class="container-fluid">
<div class="row">

<% include par/2side %>
<div class="well col-lg-8 col-sm-12" style="color:red">
<h3 class="text-center">
<h1><%= message %></h1>
<%= error.status %>

<pre><%= error.stack %></pre>
</div>
<% include par/2side %>

</div></div>

</body>



