<!DOCTYPE html>
<html>
<%include par/head %>
<body>
<%include ../nav/3nav%>

<div class="container-fluid">
<div class="row">
<div class="col-lg-12"> 
<br><br>
<p align="center">
<span id="siz24" class="badge badge-danger">完了</span><br> 
</p>
<% include par/in3 %>
<br>

<% include par/bk %>
</div><!--col12-->
</div><!-- row end -->

</div><!--container-->

<div class="footer"><% include ../base/foot %></div>

</body>
</html>
