
<div class="col-sm-4">
<br><br>


<div align="center">
<img class="img-responsive center-block" src="./img/info/360.png">
<br><br><br>



</div>
</div>


<div class="col-sm-4">
<br><br>

<h5 class="card-tittle"><b>「Blue Mirage」</b></h5><br>

<h6 class="card-subtitle text-muted">初回限定盤</h6>
<p class="card-text">
形態：CD＋DVD<br>
金額：1,389円（税抜）<br><br>


<div class="border-bottom">
【CD】<br>
</div>

<div class="border-bottom">
01.Bule Mirage <br>
</div>

<div class="border-bottom">
02.As You Want!<br>
</div>

<br>

<div class="border-bottom">
【DVD】<br>
</div>

<div class="border-bottom">
01.MUSIC VIDEO <br>
</div>

<div class="border-bottom">
02.MAKING MOVIE<br>
</div>
<br>


</p>
</div>




