<tr >

<td align="center" >sun</td>
<td align="center" >mon</td>
<td align="center" >tue</td>
<td align="center" >wed</td>
<td align="center" >thu</td>
<td align="center" >fri</td>
<td align="center" >sat</td>
</tr><!-- row-->

