<div class="row"><br>
<div class="col-md-10">
<h4 align="center"><span class="label label-danger">paidy</span></h4>
</div>

<div class="col-md-2"></div>
</div>
<br>
<%if(allpid && allpid.length!==0){%>

<div class="row">

<%for(var i=0;i<allpid.length;i++){%>

<div class="well col-md-10">

<font color="red">
<b><u>&nbsp;&nbsp;&nbsp;&nbsp;購入日時：
<%=allpid[i].date%></u></b><br>
</font>
<u>&nbsp;&nbsp;&nbsp;&nbsp;注文番号：
    <form method="post" action="/shop/qr/cr">
<input type="hidden" value="<%=allpid[i].pid%>" name="pid">

<button><%= allpid[i].pid %></button>
</form>

</u><br>
</div><!-- col10-->


<%}%>

</div><!-- row-->
<%} else {%> paidyでの購入はありません <%}%>


