


<div class="style1"><a href="page-info#0420" target="_blank">2019.04.02</a> &nbsp;「iPop Fes Vol.80」への出演が決定しました！</div>
<div class="style1"><a href="page-info#0329" target="_blank">2019.03.29</a> &nbsp;「Blue Mirage」がバラエティ番組のエンディングテーマに決定しました！</div>

<div class="style1"><a href="page-info#0426" target="_blank">2019.03.29</a> &nbsp;「ギルドフレンズ」番組SPECIALvol.6に出演が決定しました！</div>
<div class="style1"><a href="page-info#0428" target="_blank">2019.03.27</a> &nbsp;「GIRLS VISION」への出演が決定いたしました！
</div>
<div class="style1"><a href="page-info#0510" target="_blank">2019.03.22</a> &nbsp;「MX IDOL FESTIVAL Vol.9」への出演が決定いたしました！</div>
<div class="style1"><a href="page-info#0423" target="_blank">2019.03.13</a> &nbsp; タワーレコードインストアライブが決定しました! </div>

<div class="style1"><a href="page-info#0425" target="_blank">2019.03.07</a> &nbsp;「idol campus vol.58〜上野公園水上音楽堂編〜」への出演が決定しました! </div>
<div class="style1"><a href="page-info#0323" target="_blank">2019.03.06</a> &nbsp;「GILRS×GIRLS×GIRLS」への出演が決定しました! </div>

<div class="style1">2019.03.01</a> &nbsp;「MX IDOL PARTY Vol.1」への出演が決定しました! </div>
<div class="style1">2019.02.27</a> &nbsp;「MXに一番近いFES vol.13」への出演が決定しました! </div>
<div class="style1">2019.02.19</a> &nbsp;「アイドル甲子園 SPRING FESTIVAL2019」への出演が決定しました! </div>
<div class="style1">2019.02.18</a> &nbsp;「AKIBA GIRLS MEETING」への出演が決定しました! </div>
<div class="style1"><a href="page-info#201904" target="_blank">2019.02.06</a> &nbsp;「Rev:robe定期公演」の定期公演が決定しました! </div>
<div class="style1"><a href="page-info#02064" target="_blank">2019.02.06</a> &nbsp; デビューシングルの発売が決定しました! </div>
<div class="style1">2019.02.06</a> &nbsp;「＠ほぉ〜むカフェ大運動会」への出演が決定しました! </div>
<div class="style1">2019.02.06</a> &nbsp;「SHINJUKU GIRLS SPARK SP with萌えこれ学園定期公演」への出演が決定しました! </div>

<div class="style1">2019.02.06</a> &nbsp;初の対バンイベントが決定しました! </div>
<div class="style1">2019.01.30</a> &nbsp;お披露目イベントでの特典会開催が決定しました! </div>
<div class="style1">2019.01.25</a> &nbsp;お披露目イベントが決定しました! </div>
<div class="style1">2019.01.25</a> &nbsp;Rev:robe結成＆ティザーサイトオープン! </div>

