<h1><b><p >RELEASE</p></b></h1>
<hr style="border:2px solid #000022">

<p >2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-disc" role="button">release</a>
&nbsp;&nbsp;&nbsp;2019年4月23日（水）デビューシングル発売決定！</p><br><br>

<div class="card" style="width:280px;">
<img class="card-img-top" src="./img/info/360.png" alt="Card image cap">
<div class="card body">
<h3 class="card-tittle">Bule Mirage</h3>
<p class="card text">初回限定盤</p>
</div></div>



 <p ><img class="img-fluid" src="img/info/360.png" width="250px" height="250px"><br>
「Blue Mirage」初回限定盤
</p>


 <p ><img class="img-fluid" src="img/info/360.png" width="250px" height="250px"><br>
「Blue Mirage」初回限定盤
</p>


<a class="btn btn-info" href="page-news" role="button">more</a>
	
