<!DOCTYPE html>
<html>
<%include par/head %>
<%include par/2nav%>

<body>

<div class="container-fluid">
<!-- row -->
<div class="row">

<div class="col" style="background-color:white">
<div class="card">

<div class="card-body" align="center">
  </div>

   </div>
   </div>

<!-- row end -->
</div>
  </body>
</html>
