<!DOCTYPE html>
<html>
<%include base/head %>
<body>
<%include nav/nav %>
<div id="para1">
<div class="first"></div>

<br><br>
<div class="container-fluid">
<div class="row">
<div class="col-md-12" style="background-color:white">

	

<div class="a"> 


<h1><b><p id=animation>NEWS</p></b></h1>
<hr style="border:2px solid #000022">

<div id="animation1">
<p >2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#20190217" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年2月17日（日）イベント出演決定！</p>
<hr size="10" noshade></hr>


<p >2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#20190301" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年3月1日（金）＠ほぉ〜むカフェ大運動会への出演決定！</p>
</div>

<hr size="10" noshade></hr>

<p id=animation1>2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#20190326" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年3月26日（火）イベント出演決定！</p>
<hr size="10" noshade></hr>

<p id=animation1>2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#201904" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年4月〜6月の定期公演が決定しました！</p>

<br><br>


<a class="btn btn-info" href="page-news" role="button">more</a><br><br>
	
</div><!-- a --> 


<div class="b"></div>

<div class="c">
<br><br>

<div id="animation2">
<h1><b><p id="animation">RELEASE</p></b></h1>
<hr style="border:2px solid #000022">
</div>

<p id="animation1">2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-disc" role="button">release</a>
&nbsp;&nbsp;&nbsp;2019年4月23日（水）デビューシングル発売決定！</p><br><br>



<div class="card" style="width:280px;">
<img class="card-img-top" src="./img/info/360.png" alt="Card image cap">
<div class="card body">
<h3 class="card-tittle">Bule Mirage</h3>
<p class="card text">初回限定盤</p>
</div></div>



 <p id="animation"><img class="img-fluid" src="img/info/360.png" width="250px" height="250px"><br>
「Blue Mirage」初回限定盤
</p>


 <p id="animation"><img class="img-fluid" src="img/info/360.png" width="250px" height="250px"><br>
「Blue Mirage」初回限定盤
</p>




<br><br><br>

<a class="btn btn-info" href="page-news" role="button">more</a>
	
</div>

<div class="d">
 <p id="animation">nagi</p>
</div>


<script src="js/que.js"></script>

 

   </div>





    <div class="e">d</div>


    <div class="e">e</div>
	<img class="img-fluid" src="img/nagi.png" width="500px" height="500">
    <img class="img-fluid" src="img/ayu.png" width="500px" height="500">
    <img class="img-fluid" src="img/hagumi.png" width="500px" height="500">
   
 

</div>


<b>★Rev:robeに関するお知らせは<a href="/page-info" target="_blank">こちら</a><br></b>


  
</div><!--col12-->
</div><!-- row end -->
</div><!--container-->

<br>
<br>

<div class="footer"><% include base/foot %></div>

</body>
</html>
