<nav class="navbar navbar-expand-sm fixed-top navbar-light">
<div class="container">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
<span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="#">Brand</a>
<div class="collapse navbar-collapse" id="navbar1">
<ul class="navbar-nav">
<li class="nav-item active">
<a class="nav-link" href="#">Link</a>
</li>
<li class="nav-item"><a class="nav-link" href="/page-news">NEWS</a></li>
<li class="nav-item"><a class="nav-link" href="/page-info">INFO</a></li>
<li class="nav-item"><a class="nav-link" href="/page-profile">PROFILE</a></li>
<li class="nav-item"><a class="nav-link" href="/page-disc">DISC</a></li>
<li class="nav-item"><a class="nav-link" href="/page-schedule">SCHEDULE</a></li>
<li class="nav-item"><a class="nav-link" href="/page-video">VIDEO</a></li>
<li class="nav-item"><a class="nav-link" href="/page-mail">MAIL</a></li>

</ul>
        </div>
    </div>
</nav>
