<div class="a"> 


<h1><b><p id=animation>NEWS</p></b></h1>
<hr style="border:2px solid #000022">

<div id="animation1">
<p>2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#20190217" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年2月17日（日）イベント出演決定！</p>
<hr size="10" noshade></hr>


<p>2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#20190301" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年3月1日（金）＠ほぉ〜むカフェ大運動会への出演決定！</p>


<hr size="10" noshade></hr>

<p>2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#20190326" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年3月26日（火）イベント出演決定！</p>
<hr size="10" noshade></hr>

<p>2019.02.06&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="page-info#201904" role="button">info</a>
&nbsp;&nbsp;&nbsp;2019年4月〜6月の定期公演が決定しました！</p>

</div>
<br><br>


<a class="btn btn-info" href="page-news" role="button">more</a><br><br>
	
</div><!-- a --> 


