<tr>

<td align="center" class=" p-3 border">sun</td>
<td align="center" class=" p-3 border">mon</td>
<td align="center" class=" p-3 border">tue</td>
<td align="center" class=" p-3 border">wed</td>
<td align="center" class=" p-3 border">thu</td>
<td align="center" class=" p-3 border">fri</td>
<td align="center" class=" p-3 border">sat</td>
</tr><!-- row-->

