<div class="row">

<div align="center" class="col p-3 border">sun</div>
<div align="center" class="col p-3 border">mon</div>
<div align="center" class="col p-3 border">tue</div>
<div align="center" class="col p-3 border">wed</div>
<div align="center" class="col p-3 border">thu</div>
<div align="center" class="col p-3 border">fri</div>
<div align="center" class="col p-3 border">sat</div>
</div><!-- row-->

