<% include head%>


<div class="footer">

<div class="col-lg-12" style="background-color:#000033;color:white">
<div align="center">
<br>
<div class="row"></div>


<div class="foot1">
<a href="https://twitter.com/axell_official" target="_blank"><i class="fab fa-twitter-square fa-1x fa-fw" style="color:white"></i></a>
<a href="https://www.youtube.com/channel/UCgaU4ta1xL-DDviMl-OkHsQ" target="_blank"> <i class="fab fa-youtube fa-1x fa-fw" style="color:white"></i></a>
<a href="http://tmsmusic.tokyo/" target="_blank"> <i class="fas fa-music fa-1x fa-fw" style="color:white"></i></a>
<a href="https://twitter.com/axell_official" target="_blank"><p><font color="#ffffff">twitter</a>/

<a href="https://www.youtube.com/channel/UCgaU4ta1xL-DDviMl-OkHsQ" target="_blank"><font color="#ffffff">YouTube</a>/
<a href="http://tmsmusic.tokyo/" target="_blank"><font color="#ffffff">Label</a><p>

<span>&#169;&nbsp;TMS MUSIC CO.,LTD. All Rights Reserved.</span>
<br><br>

</div><!--foot1-->
</div><!--col12-->
</div><!-- cen-->
</div><!--footer-->

