
<a class="<%=(lang=="ja"?"active":"")%>" href="/?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>



