<nav class="navbar navbar-expand-sm fixed-top navbar-inverse bg-inverse">
<a class="navbar-brand" href="/">
<img src="../img/logo2.png" width="155" height="50"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sup" aria-controls="sup" aria-expanded="false" 
aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse " id="sup">
<ul class="navbar-nav ml-auto ">

<li class="nav-item active">
<a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a></li>
<li class="nav-item"><a class="nav-link"href="/page-news" >NEWS</a></li>
<li class="nav-item"><a class="nav-link" href="/page-info">INFO</a></li>
<li class="nav-item"><a class="nav-link" href="/page-profile">PROFILE</a></li>
<li class="nav-item"><a class="nav-link" href="/page-disc">DISC</a></li>
<li class="nav-item"><a class="nav-link" href="/page-schedule">SCHEDULE</a></li>
<li class="nav-item"><a class="nav-link" >VIDEO</a></li>
<li class="nav-item"><a class="nav-link" >MAIL</a></li>
<li class="nav-item"><a class="nav-link" href="/pre">PRE-ORDER</a></li>

</ul>


</div>
</nav>
