
<div class="row">
<div class="col">
<div class="wow flash">
<br>
<h4 class="card-tittle" align="left">NEWS</h4></div>
<hr style="border:1px solid#000022"> 

</div><!--wow-->
</div><!--row-->


<div class="row">



<% include news/news %>


</div><!--col-->
</div><!--row-->
