<div class="row">


<div class="col-sm-1 hideen-xs">
</div>

<div class="col-sm-7" style="color:black">


<div class="style1">2019.01.25 &nbsp;【イベント詳細】2019年2月6日（水）お披露目イベントが決定しました！<br><br>

●日時：2019年2月6日（水）21:00〜22:00（予定）<br>

</div>

<div class="col-sm-3" style="background-color:white">

<a class="twitter-timeline" data-width="450" data-height="600" href="http://twitter.com/Revroveofficial">Tweets by Revrove official</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div><!--/col3-->

<div class="col-sm-1 hidden-xs"></div>


</div>
