<div class="row">

<script src="js/siz.js"></script>
<div class="col">
<div class="wow flash">
<h4 class="card-tittle" align="left">PROFILE</h4>
<hr style="border:1px solid #000022">
</div><!--wow-->
</div><!--col-->
</div><!--row-->

<br>

<div class="row">
<div class="col-md-6">
<div class="wow fadeInUp" align="center">
<img src="./img/main1.jpg" class="img-fluid" width="700"><br>

<p>左から &nbsp;あゆ／ナギ／はぐみ</p>


</div><!--wow-->
</div><!--col-->

<div class="col-md-6">
<br>

<div class="wow fadeInDown">
<h5 class="card-tittle" align="left">Rev:robe (レブローブ)</h5> 
<br><br>
 
秋葉原に6店舗を構え、在籍総数は300人を超える老舗メイド喫茶『＠ほぉ〜むカフェ』より特に歌唱力、ダンススキルが高い3名（ナギ／あゆ／はぐみ）の3名により結成されたユニット。2019年2月結成。<br><br>

TOKYO IDOL FESTIVALにも出演する姉妹グループ『あっとせぶんてぃーん』は、メイド姿にて活動していますが、こちらのユニットのユニット名は、「Revolution＝変える、robe＝洋服」を合わせた造語で、”普段のメイド姿から着替え、新たな一面を魅せる”というコンセプトのもと普段のメイド姿とは違うかっこいい一面を魅せるべく活動開始。

</div><!--wow-->
</div>
</div>

<br>
<div class="row">

<div class="col">
<div class="wow flash">
<h4 class="card-tittle" align="left">MEMBER</h4>
<hr style="border:1px solid #000022">
</div><!--wow-->
</div><!--col-->
</div><!--row-->
<div class="row">

<div class="col-md-4">
<div id="ayu"></div>
<script src="js/mem/1tmp.js"></script>

</div><!--col-->

<div class="col-md-4">
<div id="nag"></div>
<script src="js/mem/nag.js"></script>
</div>

<div class="col-md-4">
<div id="hag"></div>
<script src="js/mem/hag.js"></script>
</div>

</div>
