<div id="demo" class="carousel slide" data-ride="carousel" data-interval="1200" >

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1" ></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->

<div class="carousel-inner">

<div class="carousel-item active">
<div class="row">

<div class="col"><img src="img/cd/341.png" alt="" width="200">    </div>
<div class="col">      <img src="img/cd/340.png" alt="" width="200">    </div>
<div class="col">      <img src="img/cd/343.png" alt="" width="200">    </div>
<div class="col">      <img src="img/cd/344.png" alt="" width="200">    </div>

</div><!-- row-->
</div>

<div class="carousel-item ">
<div class="row">
<div class="col"><img src="img/cd/341.png" alt="" width="200">    </div>
<div class="col"><img src="img/cd/345.png" alt="" width="200">    </div>
<div class="col"><img src="img/cd/346.png" alt="" width="200">    </div>
<div class="col"><img src="img/cd/347.png" alt="" width="200">    </div>

</div><!-- row-->
</div>

<div class="carousel-item ">
<div class="row">
<div class="col"><img src="img/cd/348.png" alt="" width="200">    </div>
<div class="col"><img src="img/cd/349.png" alt="" width="200">    </div>
<div class="col"><img src="img/cd/350.png" alt="" width="200">    </div>
<div class="col"><img src="img/cd/351.png" alt="" width="200">    </div>

</div><!-- row-->
</div>

  </div><!-- inner-->

  <!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
<span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
<span class="carousel-control-next-icon"></span>
</a>

</div>
