
<div class="row">
<div class="col">
<div class="wow bounce">
<h4 class="card-tittle" align="left">SCHEDULE</h4></div>
<hr style="border:1px solid#000022">

<% include schedule/schedule %>
<br><br><br><br><br><br>
</hr>

</div><!--col-->
</div><!--row-->
