<h4><div class="label label-default" style="color:black">ログイン</div></h4>

<form action="/adm/sel2" method="post">
    <div class="form-group">
E-mail:<input class="form-group" id="mail" type="email" name="mail"  size="15">
    </div>

    <div class="form-group">
Password:<input class="form-group" id="pss" type="text" name="pss" value="" size="15">
    </div>
<button type="submit" class="btn btn-info">LOG IN</button>
</form>


