<!DOCTYPE html>
<html>
<%include par/head %>
<body>
<%include nav/nav%>

<div class="container-fluid">
<div class="row">
<div class="col-lg-12" style="background-color:white">
<br><br>

<h3>
<p align="center">
<span class="badge badge-info">
受取り予約    
</span>
</p>
</h3>


<% include par/form %>
<br>
</div><!--col12-->
</div><!-- row end -->

</div><!--container-->

<div class="footer"><% include par/foot %></div>


</body>
</html>
